@import 'variables';
@import 'mixins';
@import '../../node_modules/bootstrap/scss/bootstrap';
@import 'video';
@import 'offers';
@import 'guarantee';


.vsl{
  .arrow{
    position: relative;
    &::after, &:before{
      content: " ";
      display: block;
      background-color: $secondary;
      border: 3px solid $secondary;
      width: 40px;
      height: 40px;
      position: absolute;
      top: -8px;
      left: 50%;
      border-radius: 6px;
      transform: translate(-50%, -50%) rotate(45deg);
    }
  }

  .videoSection{
    background-color: $primary-dark;
  }

  .references{
    ol{
      li{
        span{
          color: #919191;
        }
      }
    }
  }

  .countdown{
    background-color: $secondary;
    &_display{
      width: 100%;
      text-align: center;
      background-color: #000;
      border-radius: 20px;
    }
  }

  .faqSection{
    background-color: $primary-light;
  }

  .hiddenContent{
    max-height: 0;
    overflow: hidden;
    display: none;
    transition: 2s;

    &-open{
      display: block;
      max-height: 1000vh;
    }
  }

  .skip-to-time-btn {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
  }

  .restart-video-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10000;
    padding: 2rem 3rem;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}