@import 'variables';
@import 'mixins';
@import '../../node_modules/bootstrap/scss/bootstrap';
@import 'video';
@import 'offers';
@import 'guarantee';
@import 'form';


.vsl{
  .arrow{
    position: relative;
    &::after, &:before{
      content: " ";
      display: block;
      background-color: $secondary;
      border: 3px solid $secondary;
      width: 40px;
      height: 40px;
      position: absolute;
      top: -8px;
      left: 50%;
      border-radius: 6px;
      transform: translate(-50%, -50%) rotate(45deg);
    }
  }

  .videoSection{
    background-color: $primary-dark;
  }

  .references{
    ol{
      li{
        span{
          color: #919191;
        }
      }
    }
  }

  .countdown{
    background-color: $secondary;
    &_display{
      width: 100%;
      text-align: center;
      background-color: #000;
      border-radius: 20px;
    }
  }

  .faqSection{
    background-color: $primary-light;
  }

  .hiddenContent{
    max-height: 0;
    overflow: hidden;
    display: none;
    transition: 2s;

    &-open{
      display: block;
      max-height: 1000vh;
    }
  }

  .skip-to-time-btn {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
  }

  .restart-video-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10000;
    padding: 2rem 3rem;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

}
.btnBonus{
  position: fixed;
  bottom: 20px;
  right: 50%;
  transform: translateX(50%);
  z-index: 10000;
  background-color: $primary;
  color: #fff;
  padding: 1rem 2rem;
  border-radius: 50px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  transition: background-color 0.3s;
  text-decoration: none;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  width:max-content;
  animation: btnBonusPulse 1.5s infinite;
  

  @include media-breakpoint-up(lg) {
    font-size: 20px;
  }

  &:hover, &:focus {
    background-color: $primary-light;
    color:white
  }

  @keyframes btnBonusPulse {
    0% {
      box-shadow: 0 4px 8px rgba(0,0,0,0.2), 0 0 0 0 rgba($primary, 0.7);
      transform: translateX(50%) scale(1);
    }
    70% {
      box-shadow: 0 4px 8px rgba(0,0,0,0.2), 0 0 0 16px rgba($primary, 0);
      transform: translateX(50%) scale(1.07);
    }
    100% {
      box-shadow: 0 4px 8px rgba(0,0,0,0.2), 0 0 0 0 rgba($primary, 0);
      transform: translateX(50%) scale(1);
    }
  }

  animation: btnBonusPulse 1.5s infinite;
}